{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Login{% endblock page_title %}

{% block body %}


<div id="signup" style="padding-left: 20px;">

<h3>Log In</h3>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">
  <div class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <input type="hidden" name="next" value="{{ next }}" />
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

</div>

<div id="signup-help">

<p style="padding-top: 32px; margin-right: 100px;">You must log in to access that content.</p>
<p style="padding-top: 32px; margin-right: 100px;">If you do not have an account, you can <a href="/user/signup">sign up here.</a></p>
</div>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock body %}
