{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Change Password{% endblock page_title %}

{% block body %}

<div id="signup" style="padding-left: 20px;">

<h3>Change Password</h3>

{% if login_error %}
<p>{{ login_error }}</p>
{% endif %}

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form action="" method="post">
  <div class="form-row">
    {{ form.username.errors }}
    <label for="id_username">{% trans 'Username:' %}</label>{{ form.username}}
  </div>
  <div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password">{% trans 'Old Password:' %}</label>{{ form.old_password}}
  </div>
  <div class="form-row">
    {{ form.new_password_1.errors }}
    <label for="id_new_password_1">{% trans 'New Password:' %}</label>{{ form.new_password_1}}
  </div>
  <div class="form-row">
    {{ form.new_password_2.errors }}
    <label for="id_new_password_2">{% trans 'Retype New Password:' %}</label>{{ form.new_password_2}}
  </div>
  <div class="submit-row">
    <input type="hidden" name="next" value="{{ next }}" />
    <label>&nbsp;</label><input type="submit" value="{% trans 'Change Password' %}" />
  </div>
</form>

</div>


<div id="signup-help">

<p style="padding-top: 32px; margin-right: 100px;">Either your password has expired, or the new password you were issued needs to be changed to a password of your choosing.</p>
<p style="padding-top: 32px; margin-right: 100px;">Please enter your username and OLD password, for security's sake. Enter your NEW password twice so we can verify you typed it in correctly.</p>
<p style="padding-top: 32px; margin-right: 100px;">Our password policy requires that passwords be changed annually.</p>
</div>

{% endblock %}