{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% endblock page_title %}

{% block page_scripts %}
{% endblock page_scripts%}

{% block body %}
	<p>
		This is the tools page for HISG.  This website houses tools for use by developers and IT staff that work for HISG.  
		This site also holds explanatory pages for the different systems currently being developed for HISG.
	</p>
	
	<p>
		When all is said and done, this site should have a link for everything useful to an HISG employee, in an easy to navigate and easy to understand format.  
		If something seems out of place, or there is something you see that could be made simpler, please contact our IT staff.
	</p>
	
	<p>
		To get started, use the navigation menu above.  If a link has the <img src="http://hstatic.net/common/icons/silk/lock.png" /> icon beside it, you must be on our VPN to access it.
		<br>If you have any questions about this, please contact our IT depeartment.
	</p>
{% endblock body %}